/*.inner {  
overflow: hidden; 
background: #F0F0F0;  
height: 100vh;
}  
  
.carousel {
position:relative;
left: 0;  
list-style-type: none;  
margin: 0px;  
padding: 0px;  
width:9999px;
height: 100vh;
}  
  
.carousel li{  
float: left;
width: 100vw;
height: 100vh;
}  */

.ad, .next {
	position: absolute;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: green;
}

.next {
	left: 100vw;
	top: 0;
	background-color: white;
	z-index: 5;
}